.NumberSetTypeDiv {
    height: 32px;
    width: 100%;
    /* margin-bottom: 8px; */
    display: flex;
    justify-content: space-between;
    border-radius: 8px;
    border: solid gray 1px;
    box-sizing: border-box;
    /* overflow: hidden; */
    position: relative;
}

.NumberSetTypeButton {
    height: 100%;
    width: 100%;
    border: none;
    border-radius: 8px;
    background-color: transparent;
    color: gray;
}

.SelectedClass {
    background-color: gray;
    width: 33.3%;
    height: 100%;
    left: 0%;
    position: absolute;
    background-color: gray;
    opacity: 0.4;
    border-radius: 7px;
    transition: ease all 0.4s;
}

.NumberSetTypeButton:hover {
    background-color: whitesmoke;
}